MBT_MVS_HOST=hercules
MBT_MVS_PORT=1080
MBT_MVS_USER=RVEZ001
MBT_MVS_PASS=
MBT_MVS_PROTOCOL=http
MBT_MVS_REJECT_UNAUTHORIZED=false
MBT_MVS_HLQ=RVEZ001

DBASE_PDS=RVEZ001.DBASE
DBASE_LOADLIB=RVEZ001.DBASE.LOAD
DBASE_STORE=RVEZ001.DBASE.TEXT
DBASE_XMIT_IN=RVEZ001.MBT.XMIT.IN
DBASE_LOAD_VOLUME=TSO003
DBASE_CMDPROC=SYS2.CMDPROC
