MBT_MVS_HOST=hercules
MBT_MVS_PORT=1080
MBT_MVS_USER=RVEZ001
MBT_MVS_PASS=
MBT_MVS_PROTOCOL=http
MBT_MVS_REJECT_UNAUTHORIZED=false
MBT_MVS_HLQ=IBMUSER

DBASE_PDS=IBMUSER.DBASE
DBASE_LOADLIB=IBMUSER.DBASE.LOAD
DBASE_STORE=IBMUSER.DBASE.KV
DBASE_XMIT_IN=IBMUSER.MBT.XMIT.IN
DBASE_LOAD_VOLUME=TSO003
DBASE_CMDPROC=SYS2.CMDPROC
